* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Quicksand";
}

.login {
    display: grid;
    grid-template-columns: 1fr 1fr;
    min-height: 100vh;
}

.left {
    grid: 1 / 2;
    background-image:url(image/4.png),url(image/1.png);
    background-size: auto 100%;
    background-repeat: no-repeat;
}

.left {
    display: flex;
    align-items: center;
    justify-content: center;
}

.right {
    display: flex;
    flex-direction: column;
    background: #F6F6F6;
}

.right > .return {
    display: flex;
    align-items: center;
    padding: 50px;
}

.right > .return > p {
    font-weight: bold;
    color: #c32270;
    font-size: 15px;
    margin-left: 20px;

}

.right > .intro {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    font-weight: bold;
    height: 30%;
}

.right > .form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.login-form {
    margin: 10px 0;
    width: 500px;
    background-color: white;
    border-radius: 5px;
    border: 1px solid grey;
    font-size: 15px;
    display: grid;
    grid-template-columns: 1fr 5fr 1fr;
    align-items: center;
}

.login-form > img {
    width: 35px;
    height: 35px;
    margin: 0px auto;
}

.input-text {
    width: 400px;
    height: 40px;
    outline: none;
    border: none;
}

.form > .handle-login {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.form > .handle-login > button {
    margin: 10px 0;
    width: 500px;
    height: 40px;
    font-size: 15px;
    border-radius: 5px;
    font-weight: bold;
}

.form > .handle-login > .login-button {
    background-color: #c32270;
    color: white;
    border: none;
}

.form > .handle-login > .forgot-button {
    background-color: #F6F6F6;
    color: black;
    border: none;
}