
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Quicksand', sans-serif;
    color: #000;
    font-size:16px;
}
.hompage{
    display: grid;
    grid-template-columns: 1fr 1fr;
    min-height: 100vh;
}
.container {
    max-width:1140px;
    margin: 0 auto;
    padding:0 15px;
}
.header-homepage {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 9;
    background: #FFF;
    box-shadow: 0px 4px 5px 0px rgba(0, 0, 0, 0.05);
}

.layout-header-homepage {
    display: inline-block;
    width: 100%;
    padding: 11px 0px;
    height: 100%;
}

.left-header-homepage {
    float: left;
}

.right-header-homepage {
    float: right;
    margin-left: auto;
}

.logo-page a {
    display: inline-block;
}

.btn-login a {
    display: inline-block;
    text-decoration: none;
}

.btn-login a .icon {
    display: inline-block;
    width: 30px;
    height: 30px;
    margin: auto;
    float: left;
}

.btn-login a .txt {
    font-size: 18px;
    font-family: Quicksand;
    margin-top: 3px;
    margin-left: 5px;
    font-weight: 500;
    color: #C32270;
    float: left;
}

.btn-login {
    padding-top: 10px;
}
.content {
    background-color: #F8F8F8;
    width: 100%;
    height: 1961px;
}

.slider{
    width: 100%;
    height: 600px;
    background: url("img/2.png");
    background-size: auto 100%;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 40px;
  
}

.order-text {
    height: 123px;
    text-align: center;
    color: var(--tm, #C32270);
    text-align: center;
    font-size: 30px;
    font-family: Quicksand;
    font-weight: 500;
    padding-top: 40px;
    padding-bottom: 46px;
}

.order-list {
    width: 80%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 45px;
    margin: 0 auto 45px auto;
}

.order-list__item {
    width: 335px;
    height: 218px;
    flex-shrink: 0;
    border-radius: 10px;
    background: #FFF;
    box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.25);
    position: relative;

}

.order-list__item__icon {
    width: 74.657px;
    height: 78px;
    flex-shrink: 0;
    position: absolute;
    margin-top: 21px;
    left: 50%;
    transform: translate(-50%);
}

.order-list__item__saveicon {
    display: flex;
    width: 22.971px;
    height: 24px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    float: right;
    margin: 15px;
}

.order-item__info {
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    width: 289px;
    height: 19px;
    top: 121px;
}
.order-item__name {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.order-item__lable {
    color: var(--en, #000);
    font-size: 15px;
    font-family: Quicksand;
    font-weight: 500;
    display: inline-block;
}

.order-item__text {
    display: flex;
    width: 95px;
    flex-direction: column;
    flex-shrink: 0;
    color: var(--en, #000);
    text-align: right;
    font-size: 15px;
    font-family: Quicksand;
    display: inline-block;
}

.order-item__showdetal {
    color: var(--tm, #C32270);
    font-size: 13px;
    font-family: Quicksand;
    font-weight: 50;
    text-align: center;
    margin-top: 17px;
    display: block;
    text-decoration: none;
    position: absolute;
    left: 50%;
    transform: translate(-50%);
}

.order-btn-view {
    width: 165px;
    height: 45px;
    flex-shrink: 0;
    border-radius: 10px;
    border: 2px solid var(--trng, #FFF);
    background: var(--tm, #C32270);
    text-decoration: none;
    color: var(--trng, #FFF);
    font-size: 13px;
    font-family: Quicksand;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    padding: 12px 37px;
    text-align: center;
    display: flex;
    margin: auto;
    margin-bottom: 45px;
}

.hearding {
    width: 100%;
    height: 71px;
    background-color: #ffffff;
    box-shadow: 0 0 0 2px rgba(0, 0, 0, 0.05);
    display: flex;
    justify-content: space-between;
    position: fixed;
    top: 0;
}
.logoL{
    display: inline-flex;
    align-items: center;
    margin-left: 150px;
}
.logotk{
    margin-right: 150px;
    display: inline-flex;
    align-items: center;
}
.heading-text{
    height: 23px;
    text-decoration: none;
    color: #C32270;
    font-size: 18px;
    font-size: 500;
    margin-left: 20px;
}

.middle {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    width: 70%;
    height: 80%;
}
.middle2{
    display: flex;
    justify-content: center;

}
.image{
    color:white;
    background-image: url(img/Group\ 45.png);
    background-size: auto 100%;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 60px;

}
.image-content{
    width: 60%;
    border-left: 2px solid rgb(134, 42, 57);
    padding-left: 20px;
    
   
}
.middle>div{
    width: 470px;
    height: 450px;
}
.image2{
    color: #C32270;;
    background-image: url(img/Group\ 12.png);
    background-position: right bottom;
    background-size: 50% ;
    background-repeat: no-repeat;
    background-color: #e993bc;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 60px;
}
.text1{
    font-size: 18px;
    font-weight: 500;
    font-family: Quicksand;
    color: black;
    margin-bottom: 20px;

}
.image3{
    color: #C32270;;
    background-image: url(img/Group.png);
    background-position: right bottom;
    background-size: 50% ;
    background-repeat: no-repeat;
    background-color: #e993bc;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 60px;
}
.image4{
    color:rgb(43, 9, 9);
    background-image: url(img/green-chameleon-s9CC2SKySJM-unsplash\ 1.png);
    background-size: auto 100%;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 60px;

}
.end{
    width: 100%;
    height: 200px;
    background-color: #C32270;
    display: flex;
    justify-content: center;
    align-items: center;
}
.imgend{
    width: 100%;
    height: 100%;
    padding-top: 20px;
    padding-left: 50px;
}
.textend{
    width: 100%;
    height: 100%;
}
.footer{
    color: #fff;
    padding: 32px 150px;
    background-color: #C32270;
}
.logo{
    padding-bottom: 22px;
}
.contact{
    display: flex;
    justify-content: space-between;
}
.address{
    display: flex;
    flex-direction: row;
}
.icon-address{
    padding-right: 22px;
}
.general-email{
    display: flex;
    align-items:flex-start;
    padding-bottom: 25px;
}
.email{
    padding-left: 20px;
}
.general-phone{
    display: flex;
    align-items: flex-start;
    padding-bottom: 25px;
}
.phone{
    padding-left: 20px;
}
.logo-fb{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-bottom: 20px;
}
.logo-fb p{
    padding-left: 20px;
}
.logo-location{
    padding-bottom: 20px;
}
.logo-location p{
    padding-left: 20px;
}